/* Reset total */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Evita que el padding agrande los elementos */
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal molesto */
  background-color: #000; /* Asegurate de que el fondo sea negro total */
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121212; /* Fondo oscuro para la radio */
  color: white;
}


/* Quitamos las limitaciones que pone Vite al #root */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}