* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  width: 100%;
  overflow-x: hidden; 
  background-color: #e9ecef; 
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #212529;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}
.home-container {
  background: #fff;
  min-height: 100vh;
  padding-bottom: 50px;
}
.home-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6%;
}
.category-group {
  margin-top: 40px;
}
.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}
.category-header h2 {
  color: #111;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  white-space: nowrap;
}
.red-line {
  height: 2px;
  background: #ff0000;
  flex-grow: 1;
}
.view-all {
  background: transparent;
  border: 1px solid #ff0000;
  color: #111;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 0.3s;
}
.view-all:hover {
  background: #ff0000;
  color: #fff;
}