/* Reset total */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121212; /* Fondo oscuro para la radio */
  color: white;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Quitamos las limitaciones que pone Vite al #root */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}